        <header class="wrapp-header">
            <div class="info-block-01">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="visit-time">Visit Us Anytime 24x7 online</p>
                            <div class="info-block-01__box-01">
                                <a class="free-consultation-link" target="_blank" href="http://www.covid-tracker-19.tk/">Covid Tracker</a>
                                {{!-- <p class="address-info">455 Wallstreet St., NY, USA</p> --}}
                                <a class="email-info" href="mailto:companyname@gmail.com">admin@devoftech.com</a>
                                <a class="free-consultation-link" href="/user/chatbot">Try our Chatbot</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-box-01">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 text-xs-center">
                            <a href="/" class="logo">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-8 text-xs-center text-right">
                            <p class="phone-info">
                                <span>Call:</span> 123 456 7890</p>
                            <a class="btn-app" href="/user/question">Ask Us A Question</a>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- PopUp --}}
            <div id="signup" class="appointment-popup">
                    <div class="appointment-popup__header">
                        <p class="appointment-popup-title">Request an
                            <span>Appoinment</span>
                        </p>
                        <p class="appointment-popup-close">Close</p>
                    </div>
                    <form action="./" class="appointment-popup-form">
                        <div class="appointment-popup-form__box-01">
                            <input type="radio" checked="checked" name="radio-name" id="radio-01">
                            <label for="radio-01">New Customer</label>
                            <input type="radio" name="radio-name" id="radio-02">
                            <label for="radio-02">Current Customer</label>
                        </div>
                        <div class="appointment-popup-form__box-02">
                            <p class="appointment-text-01">Please confirm that you would like to request the following appointment:</p>
                            <div class="appointment-calendar">
                                <p class="appointment-calendar__title">Appointment</p>
                                <p class="appointment-calendar__in">September 14, 2017 at 8.00 AM - 10.00 AM</p>
                            </div>
                            <h4 class="appointment-text-02">
                                <span>Registration</span>
                            </h4>
                            <p class="appointment-text-03">Please enter your name, your email address and choose a password to get started.</p>
                            <div class="appointment-input-wrapp">
                                <input class="appointment-input" type="text" name="app-text" placeholder="Name *">
                                <div class="appointment-input-box-01">
                                    <input class="appointment-input" type="email" name="app-mail" placeholder="Email *">
                                </div>
                                <div class="appointment-input-box-02">
                                    <input class="appointment-input" type="password" name="app-pass" placeholder="Password">
                                </div>
                            </div>
                            <button class="appointment-btn-01" type="button">Request appointment</button>
                            <button class="appointment-btn-02">Cancel</button>
                        </div>
                    </form>
            </div>        

            <!-- Main navigation -->
            <div class="header-box-02">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-nav">
                                <div class="main-nav__btn">
                                    <div class="icon-left"></div>
                                    <div class="icon-right"></div>
                                </div>
                                <div class="header-box-03">
                                    <div class="search-box">
                                        <a class="search-btn" href="#">Search</a>
                                        <div class="search-box__dropdown">
                                            <form action="./" class="search-box__form">
                                                <input class="search-box__input" type="text" name="search_btn" placeholder="Search...">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <ul class="main-nav__list">
                                    <li class="active">
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/about">About</a>
                                    </li>
                                    <li>
                                        <a href="/services">Services</a>
                                    </li>
                                    <li>
                                        <a href="/blog">Blog</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>